
.white-bg {
  background: #fff;
}
.login-card {
    width: 620px;
    max-width: 94%;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: 5px 5px 20px #E5E5E5;
    border-radius: 6px;
    padding: 20px 60px 40px 60px;
    transform: translate(-50%,-50%);
    @media (max-width: 767px) {
      padding: 20px 20px 40px 20px;
    }
    .sidebar-layout-sider__logo img{
      width: 280px !important;
      height: auto !important;
      margin: 0px;
    }
    .login-text {
      width: 417px;
      max-width: 100%;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #000000;
      margin: 25px auto 25px;
    }
}
.input-25 {
  width: 100%;
  .react-code-input {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    input {
      width: 80px !important;
      text-align: center;
      font-family: "Pangram" !important;
      font-size: 30px !important;
      appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      padding-left: 0 !important;
    }
  }
}
input[type=number] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}
.project-head {
  padding: 10px;
  color: rgb(71, 70, 117);
  font-weight: 700;
  font-size: 22px;
  position: relative;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  min-width: 320px;
  min-height: 360px;
  overflow: hidden;
  max-height: fit-content;
}

.form .form__custom-button {
  margin-top: 20px;
}

